<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usa.zhiben.mapper.web.user.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.usa.zhiben.bean.web.user.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="permission_type" jdbcType="INTEGER" property="permissionType"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.usa.zhiben.bean.web.user.Permission">
    insert into tb_permission (id, name, description, 
      url, perms, parent_id, 
      type, order_num, icon, 
      status, create_time, update_time, 
      permission_type)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{permissionType,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.usa.zhiben.bean.web.user.Permission">
    update tb_permission
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      perms = #{perms,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      permission_type = #{permissionType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, description, url, perms, parent_id, type, order_num, icon, status, 
    create_time, update_time, permission_type
    from tb_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description, url, perms, parent_id, type, order_num, icon, status, 
    create_time, update_time, permission_type
    from tb_permission
  </select>

    <select id="selectRolePermission" resultType="com.usa.zhiben.bean.web.user.RolePermission">
  SELECT u.group_id groupId,g.permission_id permissionId,p.`name`,p.perms
  FROM  middle_user_group u,middle_group_permission g,tb_permission  p
      WHERE g.permission_id = p.id
       AND   u.group_id = g.group_id
       AND   u.user_id =#{userId}
</select>

</mapper>